body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: lime;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}

form {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto 20px;
    color: #333;
}